<header>
  <nav class="navbar navbar-light fixed-top navbar-expand-lg py-0">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/#about">
          Vicky Aruldoss
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/#about" data-target="#about">
              <span>Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about" data-target="#about">
              <span>Posts</span>
            </a>
            <li class="nav-item">
              <a class="nav-link" href="/#about" data-target="#about">
                <span>Contact</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about" data-target="#about">
                <span>Profile</span>
              </a>
            </li>
        </ul>
      </div>
    </div>
    </nav>
</header>