@import "../../variable";

a{
    text-decoration: none;
}

nav{
    background: $white;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    min-height: 70px;
    .container{
        .navbar-brand{
            height: inherit;
            line-height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            .navbar-item{
                font-weight: bold;
                font-size: 1.2em;
                color: $black;
                font-family: 'Roboto', sans-serif;
            }
        }
        ul{
            .nav-item{
               .nav-link{
                font-size: 16px;
                font-weight: 700;
                color: $lightblack;
                padding: 10px;
                &:hover{
                    color: $blue; 
                    }
               }
               .active{
                color: $blue;
               }
               
            }
        }
    }
}

    
